.card {
    height: 560px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    align-items: center;
    min-width: 250px;
    transition: all 0.5s ease;
    box-sizing: border-box;
}

.card:hover {
    transform: scale(1.05);
}

.card-img {
    width: 100%;
    height: 420px;
    border-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
