.card {
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border: 1px solid #F2F3D9;
    align-items: center;
    transition: all 0.5s ease;
    box-sizing: border-box;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 5x rgba(0, 0, 0, 0.5);
}

.card-img {
    width: 100%;
    border-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-title {
    display: flex;
}

.card-text {
    display: flex;
    flex-direction: column;
    padding: 0 15px 20px 15px;
}

.watched-checkbox {
    padding-top: 20px;
}

.rating-section {
    display: flex;
    gap: 7px;
}

.card h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.child-rating-container {
    display: flex;
    justify-content: space-between;
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating-container p {
    margin-left: 8px;
}

.heart-icon {
    cursor: pointer;
}

.heart-icon.liked {
    color: red;
}

.dummy-img {
    width: 100%;
    height: 420px;
    border-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    object-fit: cover;
}
