.movielist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1.5em;
    margin: 1.75em 1.5em 1.75em 1.5em;
}

.loadmore-button {
    text-align: center;
}

.no-results-container {
    display: block;
}

.no-results-message {
    text-align: center;
    font-size: 1.5em;
    color: #777;
    margin-top: 20px;
}
