.movielist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1.8em;
    margin: 1.75em 1.5em;
}

.loadmore-button {
    text-align: center;
}

.loadmore-button button {
    border: none;
    background: none;
    color: #F2F3D9;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #F2F3D9;
    padding: 7px;
    border-radius: 5px;
}

.no-results-container {
    display: block;
}

.no-results-message {
    text-align: center;
    font-size: 1.5em;
    color: #777;
    margin-top: 20px;
}

@media only screen and (max-width: 768px) {


}
