.App {
  position: relative;
  overflow-x: hidden;
}

header {
  width: 100%;
  padding: 0 1.8rem 0 1.8rem;
  box-shadow: 0 4px 2px -2px #F2F3D9;
}

.logo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 97%;
}

.below-logo-section {
  max-width: 100%;
}

.app-title {
  font-size: 48px;
  margin-bottom: 0;
}

.greeting-text {
  font-size: 16px;
}

.user-icon {
  font-size: 18px;
  cursor: pointer;
}

.nav-container {
  display: flex;
  justify-content: center;
}

.nav-container button{
  border: none;
  background: none;
  margin-bottom: 20px;
  margin-right: 45px;
  color: #F2F3D9;
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
}

.search-icon-container button {
  border: none;
  background: none;
  color: #F2F3D9;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 50px;
}

.nav-container button:hover {
  box-shadow: 0 4px 2px -2px #F2F3D9;
}

.search-button {
  display: inline-block;
}

.search-icon-container {
  display: flex;
  justify-content: end;
  margin-top: -50px;
  padding-bottom: 20px;
  align-items: center;
}

.sorting-options {
  display: flex;
  justify-content: space-between;
}

.sidebar-right {
  position: fixed;
  top: 0;
  left: 0;
  width: 230px;
  height: 100%;
  background: #151E3F;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow-y: auto;
  padding: 20px;
  border-right: 1px solid #F2F3D9;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
  padding-top: 35px;
}

.main-content {
  transition: margin-left 0.3s ease-in-out;
}

.main-content.shifted {
  margin-left: 250px;
  padding-left: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 500;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: #F2F3D9;
  font-size: 30px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {

  .App {
    /* overflow-x: hidden; */
  }

  .nav-container button {
    font-size: 16px;
  }

  header {
    padding: 0;
  }

  .logo-section {
    width: 100%;
  }

  .app-title-container h1 {
    margin: 0;
    padding-top: 1.8rem;
  }

  .greeting-text {
    font-size: 12px;
    display: none;
  }

  .nav-container {
    display: none;
  }

  .search-icon-container {
    display: flex;
    justify-content: end;
    margin: 0 1.8rem 0 0;
    padding-bottom: 10px;
    align-items: center;
  }
  .search-icon-container button {
    margin-right: 0;
  }

  .sidebar-right {
    width: 90%;
  }
}
